.main-header {
    background: url(../img/main-header.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    min-height: 600px;
    color: white;
    position: relative;
    background-attachment: fixed;
  }

  .sub-main-header {
    background-size: cover;
    background-position: center;
    height: 70vh;
    min-height: 600px;
    color: white;
    position: relative;
    background-attachment: fixed;
  }

  .main-header .showcase {
    padding-top: 200px;
    position: relative;
  }

  .primary-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  
  @media (max-width: 600px) {
    /* if width below 600 it will happen */
    .main-header {
      height: 50vh;
    }

    /* .economy-card{
        height: 300px;
    } */
  }

  .section-about .about-1,
.about-2 {
  padding-top: 20px;
}

.section-about .flex-box i {
  padding-right: 10px;
}


.section-about {
  margin-top: 10px;
}

  .section-services span {
    color: #5dc302;
  }

  .font-color {
    color: #5dc302;
  }

  .btn-color {
      background-color:#5dc302; 
  }

  .section-services {
    margin-top: 40px;
  }

  .card {
    background: #fff;
    padding: 3px;
  }
  
  .row-1 .card {
    height: 350px;
  }

  
  .section-services .card .card-image {
    padding-bottom: 10px !important;
  }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    /* transform: translateZ(0); */
  
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: scale(1.1);
  }

  .modal-content p {
      padding: 8px;
      font-size: 20px;
  }

  .section-contact {
    position: relative;
    background: url(../img/map.png);
  }

  .card .custom-car>img{
    height: 220px;
    object-fit: contain;
  }
  
  .section-contact .card-panel {
    position: relative;
    z-index: 1;
  }

  .economy-card {
      margin-top: 5%;
      height: auto;
  }

  .economy-card .carousel{
      height: 500px;
  }

  .carousel-item>img{
    height: 500px;
    object-fit: contain;
  }

  .economy-card .car_feature_heading{
      text-align: center;
  }

  .economy-card .car_feature_icons .economy-icons>div{
    text-align: center;
    margin: unset;
    padding: unset;
}

  .car-feature-font{
    margin-left: 3%;

  }

  .car_feature_heading{
      text-align: center;
  }

  .economy-icons {
    margin-left: 5%;
  }
  .individual-icon{
      padding-top: 10%;
      padding-left: 3%;
  }
  .row-economy {
      padding-top: 5%;
  }

  .flex-box {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
  }

  .i-font {
      size: 14px;
  }
  

  .carousel .indicators .indicator-item {
      background: red;
  }

  @media screen and (max-width:600px){
      .economy-card .carousel{
          height: 400px !important;
      }

      .carousel-item>img{
        height: 200px ;
        object-fit: contain;
      }
      .economy-card .car_feature_icons .economy-icons>div{
        text-align: unset;
        margin-left: auto;
        margin-right: auto;
        padding: unset;
    }

    .economy-card .car_feature_icons .economy-icons>div>h6>span{
      margin-left: 10px;
  }

    

    .economy-card .car_feature_heading{
      margin: unset;
    }

    .economy-card .car_feature_icons{
      margin: unset;
      padding: unset;
      margin-left: 25%;
    }
  }

  @media screen and (max-width:320px){
    .economy-card .car_feature_icons{
      margin: unset;
      padding: unset;
      margin-left: 20%;
    }
  }